.Modal{

position: fixed;
width:40%;
border:1px solid #ccc;
box-shadow:1px 1px 1px black;
padding: 16px;
top:30%;
z-index: 500;
left:30%;
background-color:white;
}


@media(max-width:499px){
    .Modal{
      
        width: 300px;
        left: 50%;
        margin-left: -215px;
    }
  
}

