
.formDiv{
    position: relative;
    width: 500px;
    left: 50%;
    margin-left: -250px;
}


.inputElement{

    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    width: 100%;

}

.inputInValid{

background-color: pink;
width: 500px ;
}
.addMessage{
    color: red;
    margin-top: 12%;
    font-size: 20px;
    text-align: center;
}
.inputElement:focus{
    outline: none;
    background-color: #ccc;;
}


.elementDiv{
    padding-top: 5%;
}

.buttonsDiv{
    position: relative;
    width: 400px;
    left: 50%;
    margin-left: -150px;
}

.OkButton{

    border: 0.16em solid rgba(255,255,255,0);
    border-radius: 2em;
    font-family: 'Roboto',sans-serif;
    color: #FFFFFF;
    background-color: green;
    margin-top: 5%;
    cursor: pointer;
}

.cancelButton{
    border: 0.16em solid rgba(255,255,255,0);
    border-radius: 2em;
    font-family: 'Roboto',sans-serif;
    color: #FFFFFF;
    background-color: #dc3545;
    margin-top: 5%;
    cursor: pointer;
}

.cancelButtonDiv{
    float: left;
    width: 50%;
}

.OkButtonDiv{
    float: left;
    width: 50%;
}


@media(max-width:499px){
    .inputElement{
        width: 200px;
        margin-left: 135px;
    }
    .inputInValid{
        width: 200px;
        margin-left: 135px;
    }
    .addMessage{
        margin-top: 60px;
        text-align: center;
    }
}

